/*
id's in place for freecodecamp criteria:
*/

html,
body {
background-color: #070707;
color: white;
font-family: sans-serif, Helvetica, monospace;
margin: 0;
padding: 0;

}

/* Change px's to rems/ems at some point */
h2{
margin: 0.20em 0 0;
display: inline;
width: 49%;
}

blockquote

ul

li

q

p{
  font-family: 'Berkshire Swash','Pacifico', cursive;
  width:438px}

figure{
margin:0;
padding:0;
}

ul{
list-style-type: none;
padding:5px;
}

figcaption{
width: 332px;
margin: 10px 0;
}

.tribute-p{
display: flex;
margin: 0 10px 0 10px
}

.container-group1{
  height: 461px;
background-color: #212121;
}

.container-group2{
clear:left;
}

.image-left {
float: left;
margin: 0;
}

.image-right {
margin: 0;
width: 321px;
height: 461px;
float: right;
}

.Qgrp1{
text-align: center;
display:flex;
position: relative;
top: 91px;
}

.Qgrp2{
display: flex;
position: relative;
top: 20px;
}

.footer-p{
padding: 5px 0;
margin: 25px auto;
width: 83%;
display: block;
}

.footer-div{
text-align: center;
background-color: #212121;
}

.tribute-info{
text-align: justify;
position: relative;
top: 30px;
}

.brief{
height: 274px;
text-align:justify;
background-color: #212121;
}

.image-1 {
height: 200px;
width: 222px;
margin: auto;
margin-top: 30px;
max-width: 100%;
display: block;
}

.bottomQuotes{
text-align: center;
}

/*change ID's for selectors
at some point*/
#img-caption{
width: 34%;
text-align: justify;
}

#main{
margin: 0 auto;
}

#header-p {
padding: 0;
text-align: center;
display: block;
margin: 0 auto 30px;
width: 245px;
}

#title {
margin: 10px auto 8px;
padding: 0;
text-align: center;
}

#image{
float: left;
margin: 0 50px 0 0;
}

#img-div{
}

@media screen and (max-width:701px){
.containter-group2{
  clear:left
  }
.image-left{
  margin: 0 auto;
  display: block;
  float: none;
  }
.image-right{
  margin: 0 auto;
  display: block;
  float: none;
}
#image{
  margin: 0 auto;
  display: block;
  float: none;
}


all position: relative positions need to removed
h2{
  display: inline;
  margin: 0 auto;
  text-align: center
}
.img-caption{
  margin: 0 auto;
	width: 91%;
  text-align: justify;
  }

}
