
html,body {
  background-color: #070707;
  color: white;
  margin: 0;
  padding: 0;
}

img {
 margin: auto;
 width: 300px;
 margin-top: 30px;
 max-width: 100%;
 display: block;
}

#image-1 {
 height: 200px;
 width: 200px;
}

#header-p {
  text-align: center;
  font-size: 1.04rem;
  padding: 0;
  margin: 0;
}

  #title {
  text-align: center;
  margin-top: 10px;
  padding: 0;
}

.image-left {
  margin: 0;
  margin: 30px auto;

}

.image-right {
 margin: auto;
 padding: 0;
}

h2, ul, #tribute-info,
p, .footer, li {
text-align: center;
display: block;
}
