


html,body {
  background-color: #070707;
  color: white;
  margin: 0;
  padding: 0;
}

#image-1 {
  margin: auto;
  height: 250px;
  width: 250px;
  margin-top: 50px;
  display: block;
}

#header-p {
  text-align: center;

}

  #title {
  color: white;
  text-align: center;

}

p {
  color: white;
}
